/*.box{*/
    /*width: 200px;*/
    /*height: 300px;*/
    /*overflow-y: auto;*/
    /*background-color: gray;*/
/*}*/
.menuList{
    border: 1px solid black;
}
.menuList a{
    display: block;
    border-bottom: 1px solid black;
    text-decoration: none;
    height: 160px;
    width: 100px;
    color: #000000;
    line-height: 160px;
    text-align: center;
}
.head{
    height:40px;
    border:1px solid #000000;
}